﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Home Page.aspx.cs" Inherits="Test.Home_Page" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <input type="button" id="btn" name="save" title="Save" value="save" />
        <asp:Image ID="Image1" runat="server" />

        <p> 
            hello how  ru
            sgdjk
            sdf
            s
            df
            sd
            f
            s
            asdfas
        </p>
    </div>
    </form>
</body>
</html>
